.contactPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.headers {
	margin-top: 120px;
}

.contactFormInput {
	margin-top: 10px;
	width: 300px;
	height: 20px;
	padding: 20px;
}

#name {
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
	text-align: center;
	width: 400px;
	height: 50px;
}

#email {
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
	text-align: center;
	width: 400px;
	height: 50px;
}
#address {
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
	text-align: center;
	width: 400px;
	height: 50px;
}

#phoneNum {
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
	text-align: center;
	width: 400px;
	height: 50px;
}

#msg {
	box-shadow: 0px 0px 10px 0px black;
	box-sizing: border-box;
	text-align: center;
	width: 800px;
	height: 200px;
	margin-top: 20px;
}

#submit {
	box-shadow: 0px 5px 10px 0px black;
	width: 400px;
	height: 50px;
	border-radius: 100px;
	margin-top: 20px;
}

.checkboxNewsletterInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.checkboxNewsletterInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxNewsletterInput input {
	opacity: 0;
}
.checkboxNewsletterInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.newsletterText {
	font-size: 20px;
}
