.contactPage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	animation: fadeIn 2s ease-in-out;
	padding-top: 150px;
}

.headers {
	text-align: center;
	margin-top: 10px;
}

.contactFormWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	color: white;
	background-color: #8b6548;
	padding: 20px;
}

.contactInputTop {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

.contactFormBottom {
	display: block;
	width: 100%;
	text-align: center;
}

.contactFormInput {
	font-size: 18px;
	margin-top: 10px;
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 5px;
}

#msg {
	box-sizing: border-box;
	width: 90%;
	height: 150px;
	margin-top: 20px;
}

#msg label {
	position: sticky;
}
.contactFormBottom p {
	float: left;
	font-size: 12;
	font-style: italic;
	margin-left: 5%;
	margin-top: -2px;
	position: sticky;
}

#submit {
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 35px;
	font-size: 20px;
	float: right;
	background: transparent;
	color: white;
	border: none;
}
#submit:hover {
	color: #00fbff;
}

#resetContactForm {
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 35px;
	font-size: 20px;
	float: right;
	background: transparent;
	color: white;
	border: none;
}

.newsletterWrap {
	padding-top: 20px;
}
.checkboxNewsletterInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.checkboxNewsletterInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxNewsletterInput input {
	opacity: 0;
	color: white;
}
.checkboxNewsletterInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.newsletterText {
	font-size: 20px;
	color: white;
}
