.contactPage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	animation: fadeIn 2s ease-in-out;
	padding-top: 150px;
}

.headers {
	text-align: center;
	margin-top: 10px;
	padding: 20px;
}

#contactForm {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 10px;
	margin-right: 50px;
}

.contactFormInput {
	position: relative;
	font-size: 18px;
	border: 1px solid #8b6548;
	box-sizing: border-box;
	width: 400px;
	height: 30px;
	padding: 5px;
}

.contactFormBottom {
	margin-top: -540px;
	margin-left: 450px;
	height: 500px;
}

.contactFormBottom p {
	float: left;
	font-size: 12;
	font-style: italic;
	margin-top: -2px;
	position: sticky;
}

#msg {
	box-sizing: border-box;
	width: 100%;
	height: 450px;
}
.bottomBtn {
	display: flex;
	justify-content: space-evenly;
	float: right;
	margin-left: 500px;
	margin-top: 5px;
}
.info {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	vertical-align: middle;
}

.info img {
	height: 100px;
}
#btnWrap {
	width: 100%;
	float: right;
	margin-top: 8px;
	margin-left: 30px;
}
#submit {
	cursor: pointer;
	font-size: 20px;
	float: right;
	background: transparent;
	border: none;
}

#submit:hover {
	color: #8b6548;
}

#resetContactForm {
	cursor: pointer;
	font-size: 20px;
	float: right;
	background: transparent;
	border: none;
}

#resetContactForm:hover {
	color: #8b6548;
}

.newsletterWrap {
	display: flex;
	float: right;
	margin-top: -15px;
	margin-left: -50px;
	padding: 5px;
}
.checkboxNewsletterInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.checkboxNewsletterInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxNewsletterInput input {
	opacity: 0;
	color: white;
}
.checkboxNewsletterInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.newsletterText {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
}

#genderRadio {
	display: flex;
	justify-content: space-around;
	width: 350px;
	padding-bottom: 10px;
}
.mrRadio {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	margin-top: 15px;
}

.mrRadio label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.mrRadio input {
	opacity: 0;
	color: white;
}
.mrRadio input[type='checkbox']:checked + label {
	background: #00fbff;
}

.mrRadio p {
	margin-top: -15px;
	margin-left: 40px;
}

.mrsRadio {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	margin-top: 15px;
}

.mrsRadio label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.mrsRadio input {
	opacity: 0;
	color: white;
}
.mrsRadio input[type='checkbox']:checked + label {
	background: #00fbff;
}

.mrsRadio p {
	margin-top: -15px;
	margin-left: 40px;
}
