@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.dataCounter {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.stats {
	display: inline-block;
	font-size: 30px;
	width: 50%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.stats .fa {
	color: #008080;
	font-size: 60px;
}

.counterIcon {
	width: 150px;
}

@media only screen and (min-width: 1000px) {
	.dataCounter {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.stats {
		display: inline-block;
		font-size: 30px;
		width: 300px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}

	.stats .fa {
		color: #008080;
		font-size: 60px;
	}

	.counterIcon {
		width: 150px;
	}

	/*/ end count stats /*/
}
