.footerBG {
	width: 100%;
	height: 450px;
	display: block;
	position: absolute;
	margin-top: 450px;
	padding-bottom: 50px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

#footerLinks {
	float: right;
	position: relative;
	margin-top: 55px;
	margin-right: -400px;
	margin-bottom: 25px;
}
#footerLinks > span {
	cursor: pointer;
	margin-right: 25px;
}

.newLetterFooterWrap {
	display: block;
	float: right;
	text-align: left;
	margin-top: 80px;
	margin-right: 125px;
	width: 20%;
	color: rgb(0, 0, 0);
	padding: 10px;
	box-sizing: border-box;
}

.newsLetterFooter p {
	text-align: right;
	font-size: 16px;
}

.newsLetterFooter label {
	margin: 5px;
	float: right;
}
.newsLetterFooter input {
	width: 100%;
	height: 25px;
	font-size: 14px;
	border: 1px solid #8b6548;
}

.newsLetterFooter textarea {
	width: 100%;
	height: 50px;
	text-align: right;
}

.newsLetterFooter button {
	float: right;
	width: 45%;
	height: 25px;
	text-align: center;
	margin-top: 10px;
	margin-right: -5px;
	text-transform: lowercase;
	background: transparent;
}

.footerLocInfo {
	float: left;
	width: 300px;
	margin-top: 200px;
	margin-left: 30px;
	text-align: left;
}
#beardyLink {
	display: block;
	position: relative;
	float: left;
	margin-top: 450px;
	margin-left: -320px;
	text-decoration: none;
	font-size: 10px;
	padding: 15px;
}

@media only screen and (min-width: 1000px) {
	.footer {
		text-align: right;
		font-size: 16px;
	}
}
