.footer {
	width: 100%;
	display: flex;
	position: relative;
	margin-top: 100px;
}
.footerBG {
	position: relative;
	margin-top: auto;
	width: 100%;
	height: 450px;
	display: block;
	padding-bottom: 50px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.newLetterFooterWrap {
	display: block;
	text-align: right;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: rgb(0, 0, 0);
	padding: 20px;
	box-sizing: border-box;
}

.newsLetterFooter p {
	text-align: right;
	font-size: 16px;
}

.newsLetterFooter label {
	margin: 5px;
	float: right;
}
.newsLetterFooter input {
	width: 100%;
	height: 25px;
	font-size: 14px;
	border: 1px solid #8b6548;
}

.newsLetterFooter button {
	width: 100%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	text-align: center;
	margin-top: 10px;
	text-transform: lowercase;
	background: transparent;
}

#footerLinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
}
#footerLinks span {
	cursor: pointer;
	padding: 10px;
}

.footerLeft {
	margin-left: auto;
	margin-right: auto;
}
.footerLocInfo {
	width: 100%;
	text-align: center;
	padding: 10px;
}

.footerLocInfo span {
	cursor: pointer;
	font-size: 10px;
	padding: 2px;
}

#footerLeftLinks {
	display: block;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	padding: 15px;
}

.copyright {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1000px) {
	.footer {
		display: block;
		text-align: right;
		font-size: 16px;
	}

	.footerBG {
		position: relative;
		margin-top: 200px;
		width: 100%;
		height: 450px;
		padding-bottom: 50px;
		font-size: 14px;
		color: rgb(0, 0, 0);
		text-transform: uppercase;
	}

	#footerLinks {
		position: sticky;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		float: right;
		margin-right: -25%;
	}
	#footerLinks span {
		cursor: pointer;
		margin-right: 25px;
	}

	.newLetterFooterWrap {
		display: block;
		float: right;
		text-align: left;
		margin-top: 80px;
		margin-right: 125px;
		width: 30%;
		color: rgb(0, 0, 0);
		padding: 10px;
		box-sizing: border-box;
	}

	.newsLetterFooter label {
		text-align: right;
		margin-bottom: 50px;
	}

	.newsLetterFooter label {
		margin: 5px;
		float: right;
	}
	.newsLetterFooter input {
		width: 100%;
		height: 25px;
		font-size: 14px;
		border: 1px solid #8b6548;
	}

	.newsLetterFooter textarea {
		width: 100%;
		height: 150px;
		text-align: right;
	}

	.newsLetterFooter button {
		float: right;
		width: 45%;
		height: 25px;
		text-align: center;
		margin-top: 10px;
		margin-right: -5px;
		text-transform: lowercase;
		background: transparent;
	}

	.footerLeft {
		float: left;
	}
	.footerLocInfo {
		float: left;
		width: 300px;
		margin-top: 0px;
		margin-left: 20px;
		text-align: left;
	}

	#footerLeftLinks {
		display: block;
		position: relative;
		text-align: left;
		text-decoration: none;
		font-size: 10px;
		margin-left: 18px;
		padding: 10px;
	}

	.copyright {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		margin-top: 500px;
		margin-bottom: 20px;
	}
}
