.mobileLangBtn {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
	position: sticky;
}
.langBtn {
	display: none;
}

.goog-tooltip {
	display: none !important;
}
.goog-tooltip:hover {
	display: none !important;
}
.goog-text-highlight {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

@media only screen and (min-width: 1000px) {
	#google_translate_element {
		float: right;
		position: relative;
		margin-top: -25px;
	}
	#google_translate_element div.goog-te-gadget-simple {
		border: none;
		background-color: transparent;
		/*background-color: #17548d;*/ /*#e3e3ff*/
	}

	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value:hover {
		text-decoration: none;
	}

	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span {
		color: #aaa;
	}

	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span:hover {
		color: rgb(68, 68, 68);
	}

	.goog-te-gadget-icon {
		display: none !important;
		/*background: url("url for the icon") 0 0 no-repeat !important;*/
	}

	[id^=':1.menuBody'] > table > tbody > tr > td > a > div {
		background-color: transparent;
	}
	/* Remove the down arrow */
	/* when dropdown open */
	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span[style='color: rgb(213, 213, 213);'] {
		display: none;
	}
	/* after clicked/touched */
	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span[style='color: rgb(118, 118, 118);'] {
		display: none;
	}
	/* on page load (not yet touched or clicked) */
	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span[style='color: rgb(155, 155, 155);'] {
		display: none;
	}

	/* Remove span with left border line | (next to the arrow) in Chrome & Firefox */
	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span[style='border-left: 1px solid rgb(187, 187, 187);'] {
		display: none;
	}
	/* Remove span with left border line | (next to the arrow) in Edge & IE11 */
	#google_translate_element
		div.goog-te-gadget-simple
		a.goog-te-menu-value
		span[style='border-left-color: rgb(187, 187, 187); border-left-width: 1px; border-left-style: solid;'] {
		display: none;
	}
	/* HIDE the google translate toolbar */
	body > .skiptranslate .goog-te-banner-frame {
		display: none !important;
	}

	body {
		top: 0px !important;
	}
}
