.mobileLangBtn {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
	position: sticky;
}
.langBtn {
	display: none;
}

@media only screen and (min-width: 1000px) {
	/*.langBtn {
		float: right;
		width: 10px;

		margin-right: 100px;
		margin-top: -25px;
		cursor: pointer;
		position: sticky;
	}
	*/

	.goog-te-banner-frame.skiptranslate {
		display: none !important;
	}
	body {
		top: 0px !important;
	}
	.ct-topbar {
		cursor: pointer;
		font-size: 14px;
		float: right;
		text-align: center;
		background: #eee;
		width: 100px;
		margin-top: -45px;
		margin-right: 10px;
	}
	.ct-topbar__list {
		margin-bottom: 0px;
	}
	.ct-language__dropdown {
		padding-top: 8px;
		max-height: 0;
		overflow: hidden;
		position: absolute;
		top: 110%;
		left: -3px;
		-webkit-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		width: 100px;
		text-align: center;
		padding-top: 0;
		z-index: 200;
	}
	.ct-language__dropdown li {
		cursor: pointer;
		background: rgb(255, 255, 255);
		padding: 5px;
	}
	.ct-language__dropdown li a {
		display: block;
	}
	.ct-language__dropdown li:first-child {
		padding-top: 10px;
		border-radius: 3px 3px 0 0;
	}
	.ct-language__dropdown li:last-child {
		padding-bottom: 10px;
		border-radius: 0 0 3px 3px;
	}
	.ct-language__dropdown li:hover {
		background: rgb(255, 255, 255);
	}

	.ct-language {
		position: relative;
		background: #ffffff;
		color: rgb(0, 0, 0);
		padding: 10px 0;
	}
	.ct-language:hover .ct-language__dropdown {
		max-height: 200px;
		padding-top: 8px;
	}
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}
}
