.listing {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.listingImg {
	margin-top: 50px;
	width: 100%;
	cursor: pointer;
	box-shadow: 0px 5px 10px 0px;
}
.listing p {
	margin-top: 10px;
	line-height: 35px;
}

.listingInfoBTN {
	cursor: pointer;
	font-size: 20px;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	border: 1px solid black;
	box-shadow: 3px 3px 0px 0px;
}

@media only screen and (min-width: 1000px) {
	.listing {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 50px;
	}

	.listingImg {
		width: 450px;
		height: 300px;
		margin-top: 0px;
	}
	.listing p {
		margin-left: 100px;
		margin-top: 0px;
		text-align: left;
		line-height: 35px;
	}

	.listingInfoBTN {
		cursor: pointer;
		font-size: 20px;
		border-radius: 50px;
		width: 200px;
		height: 50px;
		border: 1px solid black;
		box-shadow: 3px 3px 0px 0px;
	}
}
