.listing {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.listingImg {
	width: 100%;
	cursor: pointer;
}
.listing p {
	background-color: rgb(139, 101, 72);
	color: white;
	line-height: 35px;
	padding: 10px;
	box-sizing: border-box;
}

.listingInfoBTN {
	cursor: pointer;
	font-size: 18px;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	background: transparent;
	border: 1px solid white;
	color: white;
}

@media only screen and (min-width: 1000px) {
	.listing {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 50px;
	}

	.listingImg {
		width: 450px;
		height: 300px;
	}
	.listing p {
		text-align: left;
		width: 450px;
		height: 300px;
	}

	.listingInfoBTN {
		cursor: pointer;
		font-size: 20px;
		width: 150px;
		height: 30px;
		float: right;
	}
}
