.listingPage {
	box-sizing: border-box;
	width: 100%;
	animation: scaleListings 1s ease-in-out;
}

.listingPage p {
	text-align: center;
}

.propertyInfo p {
	box-sizing: border-box;
	padding: 10px;
}

@media only screen and (min-widht: 1000px) {
	.listingPage {
		padding: 150px;
	}

	.listingPage p {
		margin-top: 0px;
		text-align: center;
	}

	.propertyInfo p {
		padding: 60px;
	}
}
