.listingPage {
	box-sizing: border-box;
	width: 100%;
	animation: scaleListings 1s ease-in-out;
}

.listingIcon {
	width: 40px;
}
.propertyStats {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 200px;
}

.propertyInfo p {
	box-sizing: border-box;
	padding: 10px;
}

.statsWrap {
	display: inline-block;
	width: 100%;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.backBtn {
	cursor: pointer;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	border: 1px solid black;
	font-size: 16px;
}
.backBtn:hover {
	background-color: black;
	color: white;
}

@media only screen and (min-width: 1000px) {
	.propertyStats {
		width: 25%;
		margin-top: 20px;
		margin-left: 25%;
		padding: 15px;
	}

	.propertyPrice {
		width: 10%;
		float: right;
		font-size: 30px;
		margin-right: 25%;
		text-align: right;
	}

	.propertyInfo p {
		padding: 60px;
	}
}
