.listing {
	display: flex;
	width: 100%;
	margin-left: 20%;
	padding: 30px;
}

.listingImg {
	width: 450px;
	height: 300px;
	border: 2px solid black;
}
.listing p {
	margin-left: 100px;
	margin-top: 10px;
	text-align: left;
	line-height: 35px;
}

.listingInfoBTN {
	cursor: pointer;
	font-size: 20px;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	border: 1px solid black;
	box-shadow: 3px 3px 0px 0px;
}
