.listingPage {
	box-sizing: border-box;
	width: 100%;
	animation: scaleListings 1s ease-in-out;
}

.backBtn {
	cursor: pointer;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	border: 1px solid black;
	font-size: 16px;
}
.backBtn:hover {
	background-color: black;
	color: white;
}

.statsWrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 50%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: rgb(139, 101, 72);
}

.propertyStats {
	display: block;
	width: 100%;
}

.propertyInfo p {
	width: 90%;
	padding: 10px;
}

.googleMap {
	width: 50%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 1000px) {
	.propertyStats {
		width: 95%;

		padding: 15px;
	}

	.propertyPrice {
		width: 20%;
		float: right;
		font-size: 30px;
	}

	.propertyInfo p {
		padding: 60px;
	}
}
