.navContainer {
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top: 28px;
	position: relative;
	z-index: 1;
	animation: slideDown 2s ease-in-out;
	background-color: white;
}

#navMobileLogo {
	cursor: pointer;
	display: block;
	width: 300px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.mobileMenu {
	width: 30px;
	margin-left: 5px;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.navMobileLinks {
	display: none;
	background-color: white;
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	list-style: none;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	padding: 0;
}

.navMobileLink {
	cursor: pointer;
	font-size: 18px;
	padding: 10px;
}

.mobileMenuShow {
	display: block;
}

.linksWrapper {
	display: none;
}

@media only screen and (min-width: 1000px) {
	.mobileMenu {
		display: none;
	}

	#navMobileLogo {
		display: none;
	}

	.linksWrapper {
		display: block;
		background-color: white;
	}

	.navContainer {
		width: 100%;
		height: 50px;
		position: fixed;
		z-index: 1;
	}

	#navLogo {
		cursor: pointer;
		width: 300px;
		margin-top: -3px;
		margin-left: 20px;
		z-index: 1;
	}

	.navLinks {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(0, 0, 0);
		text-align: center;
		text-transform: uppercase;
		list-style: none;
		float: right;
	}

	.navLink {
		cursor: pointer;
		font-size: 15px;
		margin: 20px;
		margin-top: -1px;
	}

	ul li a {
		color: rgb(0, 0, 0);
		transition: 1s ease-in-out;
	}

	ul li a:hover {
		color: #8b6548;
		font-size: 16px;
		transition: 0.5s ease-in-out;
	}

	.navActive {
		font-size: 18px;
	}
}
