.slideShowContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	padding-top: 22%;
	color: white;
	font-size: 30px;
	animation: fadeIn 2s ease-in-out;
}

.downArrow {
	position: relative;
	width: 5%;
	margin-left: auto;
	margin-right: auto;
	animation: arrowDown 2s 2s ease-in-out;
}

.officePage {
	width: 100%;
	height: auto;
	display: block;
	padding-top: 200px;
}

.officeMsg {
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	text-align: justify;
}

.officeMsg h2 {
	text-align: center;
}

.officeMsg p {
	margin-left: 10px;
	margin-right: 10px;
}

#bioPic {
	width: 100%;
}

@media only screen and (min-width: 1000px) {
	.officePage {
		display: block;
		align-items: center;
	}

	.officeMsg {
		width: 60%;
		margin-top: 75px;
		padding: 15px;
	}

	.officeMsg p {
		padding: 15px;
	}

	.bio {
		display: flex;
		align-items: center;
		flex-direction: row;
		padding-top: 50px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.bio p {
		width: 350px;
		box-sizing: border-box;
		text-align: justify;
		padding: 35px;
		margin-left: auto;
	}
	#bioPic {
		width: 350px;

		margin-right: auto;
	}
}
