.realEstatePage {
	display: block;
	background-image: url('../images/realEstateBG/realEstate1.png');
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100%;
	background-position: center;
	animation: fadeIn 2s ease-in-out;
}

.realEstatePage img {
	width: 100%;
}

#realEstateText {
	margin-top: -200px;
	text-align: center;
	margin-left: -500px;
	color: white;
	font-size: 50px;
}

.realEstateMsg h2 {
	text-align: center;
}
.realEstateMsg p {
	width: 30%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

@media only screen and (min-width: 1000px) {
	.realEstatePage {
		padding-top: 550px;
	}
}
