.realEstatePage {
	display: block;
	width: 100%;
	height: 100%;
	animation: fadeIn 2s ease-in-out;
}

.realEstateMsg {
	display: inline;
	color: black;
	animation: fadeIn 2s ease-in-out;
}

.realEstateMsg h2 {
	margin-top: 50px;
	text-align: center;
	animation: fadeIn 2s ease-in-out;
}
.realEstateMsg p {
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	animation: fadeIn 2s ease-in-out;
}

.buyMsg {
	color: rgb(255, 255, 255);
	height: auto;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.buyMsg p {
	background-image: url('../images/bg/resWohnen.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
	box-shadow: 5px 5px;
}

#buyButton {
	display: block;
	cursor: pointer;
	width: 100%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.buttonWrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#investButton {
	cursor: pointer;
	width: 45%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#resButton {
	cursor: pointer;
	width: 45%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.rentMsg {
	color: black;
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.rentMsg p {
	background-color: rgb(121, 253, 255);
	border-radius: 20px 20px 20px 20px;
	padding: 20px;
	box-shadow: 5px 5px;
}

#rentButton {
	cursor: pointer;
	width: 100%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 5px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#officeButton {
	cursor: pointer;
	width: 45%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#rentResButton {
	cursor: pointer;
	width: 45%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.sellMsg {
	color: black;
	height: auto;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;

	border-radius: 20px 20px 20px 20px;
	text-align: left;
}

#sellButton {
	cursor: pointer;
	width: 100%;
	border: 1px solid;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	margin-top: 5px;
	padding: 10px;
	box-shadow: 2px 2px 2px 0px;
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1000px) {
	.realEstatePage {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 500px;
	}

	.realEstateMsg {
		height: 275px;
		width: 100%;
		margin-top: 100px;
		float: left;
	}
	.realEstateMsg p {
		padding: 50px;
	}

	.buyMsg {
		text-align: left;
		height: 400px;
		width: 30%;
		border-bottom: 0px;
	}

	#buyButton {
		width: 50%;
	}

	#investButton {
		margin-bottom: 10px;
	}

	#resButton {
		margin-bottom: 10px;
	}

	.rentMsg {
		text-align: left;
		height: 400px;
		width: 30%;
		border-bottom: 0px;
	}

	#rentButton {
		width: 50%;
	}

	#officeButton {
		margin-bottom: 10px;
	}

	.sellMsg {
		text-align: left;
		height: 400px;
		width: 30%;
		border-bottom: 0px;
	}

	#sellButton {
		width: 50%;
	}
}
