.refWrapper {
	box-sizing: border-box;
	text-align: center;
	animation: fadeIn 2s ease-in-out;
}

.refHeader {
	text-align: center;
}

.refContent {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: justify;
	padding: 100px;
}

.ref {
	padding: 40px;
	width: 35%;
	background-color: rgb(139, 101, 72);
	color: white;
}

@media only screen and (min-width: 1000px) {
	.refWrapper {
		padding-top: 100px;
	}
}
