.searchModuel {
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	border: black solid 1px;
	width: 50%;
	height: 350px;
	padding: 10px;
}

.mainSearchInput {
	float: left;
	padding: 5px;
	width: 500px;
	height: 25px;
	margin-top: 10px;
	font-size: 15px;
}

.mainSearchBtn {
	color: white;
	background-color: rgba(123, 123, 123, 0.5);
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 0px;

	border-radius: 200px;
	font-size: 20px;
}

.searchMarket {
	border: none;
}
.searchCatag {
	width: 100%;
	height: 250px;
	color: white;
	border: none;
	display: inline-block;
	text-shadow: 1px 1px black;
}

.checkboxSellingInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxSellingInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxSellingInput input {
	opacity: 0;
}
.checkboxSellingInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.checkboxBuyingInput {
	width: 30px;
	height: 30px;

	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxBuyingInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxBuyingInput input {
	opacity: 0;
}
.checkboxBuyingInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.checkboxResidentialInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxResidentialInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxResidentialInput input {
	opacity: 0;
}
.checkboxResidentialInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.checkboxInvestmentInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxInvestmentInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxInvestmentInput input {
	opacity: 0;
}
.checkboxInvestmentInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.checkboxRentInput {
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255, 1);
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxRentInput label {
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all 0.5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #333;
	box-shadow: inset 0px 1px 3px rgba(106, 106, 106, 0.5);
}

.checkboxRentInput input {
	opacity: 0;
}
.checkboxRentInput input[type='checkbox']:checked + label {
	background: #00fbff;
}

.checkboxes {
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
}

.checkboxes div {
	margin-top: 10px;
	margin-left: 10px;
}

.checkboxes > a {
	float: left;
	margin-top: 10px;
	margin-left: 5px;

	font-size: 20px;
}

.searchDropDown {
	display: wrap;
	width: 50%;
	margin-top: 10px;
}

#searchCatagoryMenu {
	width: 200px;
	height: 30px;
	padding: 25px;
	margin: 10px;
	font-size: 15px;

	color: rgb(97, 97, 97);
	border: 1px solid black;
	background-color: rgb(255, 255, 255);
}
/* Range Slider css */
@import 'http://propeller.in/components/range-slider/css/nouislider.min.css';

/*Propeller textfield css*/
@import 'http://propeller.in/components/textfield/css/textfield.css';

/*Propeller checkbox css*/
@import 'http://propeller.in/components/checkbox/css/checkbox.css';

/*Propeller Range Slider css*/
@import 'http://propeller.in/components/range-slider/css/range-slider.css';
