.slideshowWrap {
	width: 100%;
	margin-top: -50px;
	overflow: hidden;
	animation: fadeIn 2s ease-in-out;
}
.slideshowImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 80px;
	animation: slideshow 60s linear infinite;
	z-index: -10;
	background-repeat: no-repeat;
}

.slideshowImg:nth-child(1) {
	z-index: 2;
	animation-delay: 40s;
	z-index: -10;
}

.slideshowImg:nth-child(2) {
	z-index: 2;
	animation-delay: 20s;
	z-index: -10;
}

.slideshowImg:nth-child(3) {
	z-index: 3;
	animation-delay: 0s;
	z-index: -10;
}
@keyframes slideshow {
	25% {
		opacity: 1;
	}
	33.33% {
		opacity: 0;
	}
	91.66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 1000px) {
	.slideshowWrap {
		margin-top: 0px;
	}
	.slideshowImg {
		padding-top: 100px;
	}
}
