body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	background-color: #ffffff;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	33% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.3;
	}
	100% {
		opacity: 0;
	}
}

.loadingScreen {
	position: absolute;
	animation: fadeOut 2500ms 2500ms linear ease-out;
}

.main {
	position: relative;
}

.langBtn {
	float: right;
	margin-top: -20px;
	text-decoration: none;
}
