body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.loadingScreen {
	background-color: white;
	height: 1600px;
	width: 100%;
	text-align: center;
	margin-top: 25%;
}

.main {
	position: relative;
}

.langBtn {
	float: right;
	margin-top: -20px;
	text-decoration: none;
}
