.welcomePage {
	width: 100%;
	padding-top: 300px;
	display: inline-block;
}
.welcomeMsg {
	background-color: rgba(62, 62, 62, 0.5);
	color: white;
	text-align: left;
	width: 40%;
	float: left;
	margin-left: 5%;
	height: 200px;
	font-size: 20px;
	text-shadow: 1px 1px black;
	padding: 25px;
	margin-top: -20px;
}
