.welcomePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 100px;
}

.welcomeContent {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: auto;
	width: 100%;
	text-shadow: 1px 1px black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	animation: fadeIn 1s ease-in-out;
}

@media only screen and (min-width: 1000px) {
	.welcomePage {
		padding-top: 20%;
	}
}
