.welcomePage {
	width: 100%;
	padding-top: 100px;
	display: inline-block;
	animation: slideRight 4s ease-in-out;
}
.welcomeMsg {
	background-color: rgba(62, 62, 62, 0.5);
	color: white;
	text-align: left;
	width: 100%;
	font-size: 14px;
	text-shadow: 1px 1px black;
	margin-top: 20px;
}

.welcomeMsg h2 {
	text-align: center;
}
.welcomeMsg p {
	padding: 25px;
}

@media only screen and (min-width: 1000px) {
	.welcomePage {
		width: 100%;
		padding-top: 300px;
	}
	.welcomeMsg {
		background-color: rgba(62, 62, 62, 0.5);
		color: white;
		text-align: left;
		width: 30%;
		font-size: 20px;
		text-shadow: 1px 1px black;
		padding: 15px;
		margin-top: 375px;
	}
}
